# dependencies
/node_modules

# generated docs content
.contentlayer
.content-collections
.source

# build output
/dist
/.wrangler
/.tanstack
/.next
/.turbo
next-env.d.ts
/coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
/.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.dev.vars
.env*.local
